
<div class="box box-widget">
    <div class="box-header">
        <h4 class="box-title">Tabel</h4>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for prov in province_list%}
                <tr>
                    <td>{{prov.id}}</td>
                    <td>{{prov.name}}</td>
                    <td>
                        <a href="{% url 'provinsi:edit' id=prov.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'provinsi:delete' id=prov.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    $(function () {
        $('.table').DataTable()
    });
</script>
            